<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tongue drawer</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 20px;
    }
    .image-area {
      margin-top: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    /*form {
        display: block;
        border: 2px solid black;
        border-radius: 8px;
    }*/
  </style>
</head>
<body>

<h1>tongue drawer</h1>
<div class="image-area" id="image-area">
</div>


<div>
<form id="main-form">
<div>
    <label for="family">family: </label>
    <select id="family" name="family">
        <option value="dsm">double standard map</option>
        <option value="2xdsm">double double standard map</option>
        <option value="2x+S">doubling plus straight sine</option>
        <option value="2x+T">doubling plus tent</option>
    </select>
</div>

<div>
    <p>a: 
        <label for="a-min">min </label>
        <input type="number" id="a-min" name="a-min" value="0.0" size="20%" step="any">
        <label for="a-max">max </label>
        <input type="number" id="a-max" name="a-max" value="1.0" size="20%" step="any">
    </p>
    <p>
        b: 
        <label for="b-min">min </label>
        <input type="number" id="b-min" name="b-min" value="0.0" size="20%" step="any">
        <label for="b-max">max </label>
        <input type="number" id="b-max" name="b-max" value="1.0" size="20%" step="any">
    </p>
</div>

<div>
    <p>
    <label for="starting-point">starting point: </label>
    <input type="number" id="starting-point" name="starting-point" value="0.0" step="any">
    </p><p>
    <label for="nb-starting-points">nb starting points: </label>
    <input type="number" id="nb-starting-points" name="nb-starting-points" step="1" value="1">
    </p><p>
    <label for="nb-iterations">nb iterations: </label>
    <input type="number" id="nb-iterations" name="nb-iterations" step="1" value="64">
    </p><p>
    <label for="max-period">max period: </label>
    <input type="number" id="max-period" name="max-period" step="1" value="10">
    </p><p>
    <label for="tol">tolerance: </label>
    <input type="number" id="tol" name="tol" value="1e-3" step="any">
    </p>
</div>

<div>
<p>
    <label for="width">width: </label>
    <input type="number" id="width" name="width" step="1" value="400">
</p><p>
    <label for="height">height: </label>
    <input type="number" id="height" name="height" step="1" value="400">
</p><p>
    <label for="colours">colour map: </label>
    <select id="colours" name="colours" value="magma">
      <option value="magma">magma</option>
      <option value="inferno">inferno</option>
      <option value="plasma">plasma</option>
      <option value="viridis">viridis</option>
      <option value="cividis">cividis</option>
      <option value="twilight">twilight</option>
      <option value="twilight_shifted">twilight_shifted</option>
      <option value="turbo">turbo</option>
      <option value="Blues">Blues</option>
      <option value="BrBG">BrBG</option>
      <option value="BuGn">BuGn</option>
      <option value="BuPu">BuPu</option>
      <option value="CMRmap">CMRmap</option>
      <option value="GnBu">GnBu</option>
      <option value="Greens">Greens</option>
      <option value="Greys">Greys</option>
      <option value="OrRd">OrRd</option>
      <option value="Oranges">Oranges</option>
      <option value="PRGn">PRGn</option>
      <option value="PiYG">PiYG</option>
      <option value="PuBu">PuBu</option>
      <option value="PuBuGn">PuBuGn</option>
      <option value="PuOr">PuOr</option>
      <option value="PuRd">PuRd</option>
      <option value="Purples">Purples</option>
      <option value="RdBu">RdBu</option>
      <option value="RdGy">RdGy</option>
      <option value="RdPu">RdPu</option>
      <option value="RdYlBu">RdYlBu</option>
      <option value="RdYlGn">RdYlGn</option>
      <option value="Reds">Reds</option>
      <option value="Spectral">Spectral</option>
      <option value="Wistia">Wistia</option>
      <option value="YlGn">YlGn</option>
      <option value="YlGnBu">YlGnBu</option>
      <option value="YlOrBr">YlOrBr</option>
      <option value="YlOrRd">YlOrRd</option>
      <option value="afmhot">afmhot</option>
      <option value="autumn">autumn</option>
      <option value="binary">binary</option>
      <option value="bone">bone</option>
      <option value="brg">brg</option>
      <option value="bwr">bwr</option>
      <option value="cool">cool</option>
      <option value="coolwarm">coolwarm</option>
      <option value="copper">copper</option>
      <option value="cubehelix">cubehelix</option>
      <option value="flag">flag</option>
      <option value="gist_earth">gist_earth</option>
      <option value="gist_gray">gist_gray</option>
      <option value="gist_heat">gist_heat</option>
      <option value="gist_ncar">gist_ncar</option>
      <option value="gist_rainbow">gist_rainbow</option>
      <option value="gist_stern">gist_stern</option>
      <option value="gist_yarg">gist_yarg</option>
      <option value="gnuplot">gnuplot</option>
      <option value="gnuplot2">gnuplot2</option>
      <option value="gray">gray</option>
      <option value="hot">hot</option>
      <option value="hsv">hsv</option>
      <option value="jet">jet</option>
      <option value="nipy_spectral">nipy_spectral</option>
      <option value="ocean">ocean</option>
      <option value="pink">pink</option>
      <option value="prism">prism</option>
      <option value="rainbow">rainbow</option>
      <option value="seismic">seismic</option>
      <option value="spring">spring</option>
      <option value="summer">summer</option>
      <option value="terrain">terrain</option>
      <option value="winter">winter</option>
      <option value="Accent">Accent</option>
      <option value="Dark2">Dark2</option>
      <option value="Paired">Paired</option>
      <option value="Pastel1">Pastel1</option>
      <option value="Pastel2">Pastel2</option>
      <option value="Set1">Set1</option>
      <option value="Set2">Set2</option>
      <option value="Set3">Set3</option>
      <option value="tab10">tab10</option>
      <option value="tab20">tab20</option>
      <option value="tab20b">tab20b</option>
      <option value="tab20c">tab20c</option>
      <option value="magma_r">magma_r</option>
      <option value="inferno_r">inferno_r</option>
      <option value="plasma_r">plasma_r</option>
      <option value="viridis_r">viridis_r</option>
      <option value="cividis_r">cividis_r</option>
      <option value="twilight_r">twilight_r</option>
      <option value="twilight_shifted_r">twilight_shifted_r</option>
      <option value="turbo_r">turbo_r</option>
      <option value="Blues_r">Blues_r</option>
      <option value="BrBG_r">BrBG_r</option>
      <option value="BuGn_r">BuGn_r</option>
      <option value="BuPu_r">BuPu_r</option>
      <option value="CMRmap_r">CMRmap_r</option>
      <option value="GnBu_r">GnBu_r</option>
      <option value="Greens_r">Greens_r</option>
      <option value="Greys_r">Greys_r</option>
      <option value="OrRd_r">OrRd_r</option>
      <option value="Oranges_r">Oranges_r</option>
      <option value="PRGn_r">PRGn_r</option>
      <option value="PiYG_r">PiYG_r</option>
      <option value="PuBu_r">PuBu_r</option>
      <option value="PuBuGn_r">PuBuGn_r</option>
      <option value="PuOr_r">PuOr_r</option>
      <option value="PuRd_r">PuRd_r</option>
      <option value="Purples_r">Purples_r</option>
      <option value="RdBu_r">RdBu_r</option>
      <option value="RdGy_r">RdGy_r</option>
      <option value="RdPu_r">RdPu_r</option>
      <option value="RdYlBu_r">RdYlBu_r</option>
      <option value="RdYlGn_r">RdYlGn_r</option>
      <option value="Reds_r">Reds_r</option>
      <option value="Spectral_r">Spectral_r</option>
      <option value="Wistia_r">Wistia_r</option>
      <option value="YlGn_r">YlGn_r</option>
      <option value="YlGnBu_r">YlGnBu_r</option>
      <option value="YlOrBr_r">YlOrBr_r</option>
      <option value="YlOrRd_r">YlOrRd_r</option>
      <option value="afmhot_r">afmhot_r</option>
      <option value="autumn_r">autumn_r</option>
      <option value="binary_r">binary_r</option>
      <option value="bone_r">bone_r</option>
      <option value="brg_r">brg_r</option>
      <option value="bwr_r">bwr_r</option>
      <option value="cool_r">cool_r</option>
      <option value="coolwarm_r">coolwarm_r</option>
      <option value="copper_r">copper_r</option>
      <option value="cubehelix_r">cubehelix_r</option>
      <option value="flag_r">flag_r</option>
      <option value="gist_earth_r">gist_earth_r</option>
      <option value="gist_gray_r">gist_gray_r</option>
      <option value="gist_heat_r">gist_heat_r</option>
      <option value="gist_ncar_r">gist_ncar_r</option>
      <option value="gist_rainbow_r">gist_rainbow_r</option>
      <option value="gist_stern_r">gist_stern_r</option>
      <option value="gist_yarg_r">gist_yarg_r</option>
      <option value="gnuplot_r">gnuplot_r</option>
      <option value="gnuplot2_r">gnuplot2_r</option>
      <option value="gray_r">gray_r</option>
      <option value="hot_r">hot_r</option>
      <option value="hsv_r">hsv_r</option>
      <option value="jet_r">jet_r</option>
      <option value="nipy_spectral_r">nipy_spectral_r</option>
      <option value="ocean_r">ocean_r</option>
      <option value="pink_r">pink_r</option>
      <option value="prism_r">prism_r</option>
      <option value="rainbow_r">rainbow_r</option>
      <option value="seismic_r">seismic_r</option>
      <option value="spring_r">spring_r</option>
      <option value="summer_r">summer_r</option>
      <option value="terrain_r">terrain_r</option>
      <option value="winter_r">winter_r</option>
      <option value="Accent_r">Accent_r</option>
      <option value="Dark2_r">Dark2_r</option>
      <option value="Paired_r">Paired_r</option>
      <option value="Pastel1_r">Pastel1_r</option>
      <option value="Pastel2_r">Pastel2_r</option>
      <option value="Set1_r">Set1_r</option>
      <option value="Set2_r">Set2_r</option>
      <option value="Set3_r">Set3_r</option>
      <option value="tab10_r">tab10_r</option>
      <option value="tab20_r">tab20_r</option>
      <option value="tab20b_r">tab20b_r</option>
      <option value="tab20c_r">tab20c_r</option>]
    </select>
    <!-- <input type="text" id="colours" name="colours" value="magma"> -->
</p>
</div>

<div>
    <button type="submit">draw</button>
</div>
</form>
</div>

<script>

function signal_error(element_id, msg) {
    const label = document.querySelector(`label[for='${element_id}']`);
    label.textContent = "*** " + element.textContent;
    label.style.color = "red";
    const image_area = document.getElementById('image-area');
    image_area.innerHTML = `<p>error in inputs</p>`;
}

function get_form_value(id, convert_to) {
    convert_to = convert_to || "string";
    let value = document.getElementById(id).value
    if(convert_to == "string") {
        return value;
    }
    if(convert_to == "int") {
        value = parseInt(value);
        if(isNaN(value)) {
            signal_error(id, "input should be an integer");
        }
    }
    if(convert_to == "float") {
        value = parseFloat(value);
        if(isNaN(value)) {
            signal_error(id, "input should be a number");
        }
    }
    return value;
}

function prepare_api_inputs() {
    const request_data = {
        family: get_form_value('family'),
        domain: {
            a_range: [ get_form_value('a-min', "float"), get_form_value('a-max', 'float') ],
            b_range: [ get_form_value('b-min', 'float'), get_form_value('b-max', 'float') ],
        },
        dynamics: {
            default_starting_point: get_form_value('starting-point', "float"),
            nb_starting_points: get_form_value('nb-starting-points', "int"),
            nb_initial_iterations: get_form_value('nb-iterations', "int"),
            max_period: get_form_value('max-period', "int"),
            periodicity_tol: get_form_value("tol", "float")
        },
        images: {
            width: get_form_value("width", "int"),
            height: get_form_value("height", "int"),
            colour_map: get_form_value('colours')
        }
    }
    return request_data;
}

document.getElementById('main-form').addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent form submission from refreshing the page
      const request_data = prepare_api_inputs();
      const image_area = document.getElementById("image-area");
      image_area.innerHTML = "<p>(computing image)</p>";
      fetch('/api/tongue', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(request_data)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('response not ok');
        }
        image_area.innerHTML = "";
        return response.blob();
      })
      .then(blob => {
        const image_url = URL.createObjectURL(blob);
        const image_area = document.getElementById('image-area');
        image_area.innerHTML = `<img src="${image_url}" alt="tongues">`;
      })
      .catch(error => {
        const image_area = document.getElementById('image-area');
        image_area.innerHTML = `<p>(there was an issue)</p>`;
      });
    });
  </script>

</body>
</html>
